h1, p, figcaption {text-align: center;}
h1{
  font-size: 28px;
}
  img {
        height: 30%;
    width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
header p{
  font-family: Arial;
  font-size: 18px;
}
figure figcaption{
  border: 2px solid black;
  font-family: Arial;
  font-size: 16px;
}
