body{
	background-color:#F5EDF0;
	color: #3D2C2E;
 	margin: 0;
}
h1, p, figcaption, h2 {
	text-align: center;
}
h1 {
  font-size: 42px;
  font-family: Georgia, serif;
  text-decoration: underline overline;
}
h2 {
font-size: 28px;
}
img {
  height: auto;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header p, #about {
  font-family: Arial;
  font-size: 18px;
}
figure figcaption {
  border: 2px dotted #3D2C2E;
  font-family: Arial;
  font-size: 16px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.marginRight{
  margin-right: 5%;
}
ul.topnav {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #3D2C2E;
  background-color: #D1CCDC;
}
ul.topnav li {
  border-bottom: 1px solid #3D2C2E;
  float: left;
}
ul.topnav li a {
  display: block;
  text-decoration: none;
  color: #3D2C2E;
  padding: 14px 16px;
}
ul.topnav li a:hover:not(.active) {
  background-color: #F5EDF0;
}
body.dark-mode{
	background: #010101;
	color: #ffffff;
}
.btnCount{
  background-color: #C0C0C0;
  border: 2px solid;
  color: #010101;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin:0 auto;
  display:block;
  font-size: 16px;
  cursor: pointer;
}
@media screen and (min-width: 300px) and (max-width:600px){
	ul.topnav li.right,
	ul.topnav li {
		float: none;
		}
	}
