body{
  background-color: #F4F5F2;
  color: #24281D;
  margin: 0;
  text-align: center;
}
h1, p, figcaption, h2, h3{
	text-align: center;
}
h1{
  font-size: 42px;
  font-family: Georgia, serif;
  text-decoration: underline overline;
}
h2, h3{
font-size: 28px;
}
img{
  height: 30%;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header p{
  font-family: Arial;
  font-size: 18px;
}
figure figcaption {
  border: 2px dotted #3D2C2E;
  font-family: Arial;
  font-size: 16px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.marginRight{
  margin-right: 80px;
}
ul{
  display: table;
  margin: 0 auto;
  text-align: left;
}
