body{
  background-image: linear-gradient(#ffecb3, #ffd966);
	color: #800000;
 	margin: 0;
  font-family: Arial, serif;
}
img{
  width: 100%;
  height: auto;
}
h1, p, figcaption, h2 {
	text-align: center;
}
header p, #about {
  font-family: Arial;
  font-size: 18px;
}
.about{
  text-align: center;
}
h1 {
  font-size: 42px;
  font-family: Arial, serif;
  text-decoration: underline;
}
h2, h3, h4{
  font-size: 28px;
  font-family: Arial, serif;
}
figure figcaption {
  font-family: Arial;
  font-size: 16px;
}
.logo{
  width: 20%;
}
.images{
  width: 75%;
  height: auto;
}
.welcome{
  font-size: 5vw;
}
.row{
  display: flex;
}
.column {
margin: 1%;
padding: 1%;
}
.places, .application, .center{
  display: table;
  margin: 0 auto;
  text-align: center;
}
iframe{
  height: 50%;
  width: 50%;
}
.subnav{
  padding: 14px 16px;
  background-color: #ffd966;
  color: #800000;
  font-size: 16px;
  position: relative;
  display: inline-block;
  list-style-type: none;
  border: none;
  cursor: pointer;
}
.subnav-content{
  display: none;
  position: absolute;
  overflow: auto;
  padding: 0;
  background-color: #ffd966;
  color: #800000;
}
.subnav:hover ul{
  background-color: #ffecb3;
  display: inline-block;
}
.subnav{
  display: block;
  margin: 0;
  padding: 0;
}
.subnav-content a{
  padding: 0;
  text-decoration: none;
  display: inline;
}
.subnav-content li{
  display: block;
  background-color: #ffd966;
  padding: 0;
  margin: 0;
}
.subnav-content a:hover{
  background-color: #ffecb3;
}
.topnav{
  display: block;
}
.external{
  background-color: #ffd966;
  color: #800000;
  font-size: 16px;
  font-family: Arial, serif;
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
  float: none;
}
.external:hover, .external:focus{
  background-color: #ffecb3;
}
.external:hover .li{
  display: block;
}
#footer{
  width: 100%;
}
ul.topnav {
	list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #800000;
  background-color: #ffd966;
}
ul.topnav li {
  border-bottom: 1px solid #800000;
  float: left;
}
ul.topnav li a {
  display: block;
  text-decoration: none;
  color: #800000;
  padding: 14px 16px;
}
ul.topnav li a:hover:not(.active) {
  background-color: #ffecb3;
}
ul.footer li.right {float: right;}
@media screen and (min-width: 300px) and (max-width:600px){
	ul.topnav li.right,
	ul.topnav li {
		float: none;
	}
}
