body{
  background-image: linear-gradient(#ffecb3, #ffd966);
	color: #800000;
 	margin: 0;
  font-family: Arial, serif;
}
img{
  width: 100%;
  height: auto;
}
h1, p, figcaption, h2 {
	text-align: center;
}
header p, #about {
  font-family: Arial;
  font-size: 18px;
}
.about{
  text-align: center;
}
h1 {
  font-size: 42px;
  font-family: Arial, serif;
  text-decoration: underline;
}
h2, h3, h4{
  font-size: 28px;
  font-family: Arial, serif;
}
figure figcaption {
  font-family: Arial;
  font-size: 16px;
}
.logo{
  width: 20%;
}
.welcome{
  font-size: 24px;
}
.row{
  display: flex;
  flex-direction: row;
}
.column {
  margin: 1%;
  width: 45%;
}
.places, .application, .center{
  display: table;
  margin: 0 auto;
  text-align: center;
}
ul.days{
  list-style: none;
  margin: 0;
  background-color: #ffd966;
  width: 100%;
  text-align: center;
  border: none;
  cursor: pointer;
}
ul.days li a {
  display: block;
  text-decoration: none;
  color: #800000;
  font-size: 20px;
  padding: 14px 16px;
  border: 1px solid #800000;
}
ul.days li a:hover:not(.active) {
  background-color: #ffecb3;
}
iframe{
  height: 50%;
  width: 50%;
}
.subnav {
  background-color: #ffd966;
  color: #800000;
  font-size: 16px;
  padding: 0;
  border: none;
  cursor: pointer;
}
.subnav:hover ul{
  background-color: #ffecb3;
}
.topnav {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}
ul.topnav {
	list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #800000;
  background-color: #ffd966;
}
ul.topnav li {
  border-bottom: 1px solid #800000;
  float: left;
}
ul.topnav li a {
  display: block;
  text-decoration: none;
  color: #800000;
  padding: 14px 16px;
}
ul.topnav li a:hover:not(.active) {
  background-color: #ffecb3;
}
.subnav-content {
  display: none;
  position: absolute;
  background-color: #ffd966;
  color: #800000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0;
  text-align: center;
}
.subnav-content a {
  color: black;
  padding: 0;
  text-decoration: none;
  display: block;
}
.subnav-content li{
  display: block;
  background-color: #ffd966;
  padding: 0;
  margin: 0;
}
.subnav-content a:hover {background-color: #ffecb3}
.subnav:hover .subnav-content {
  display: block;
}
.subnav:hover .subnav {
  background-color: #ffecb3;
  color: #800000;
}
#footer{
  width: 100%;
}
ul.footer li.right {float: right;}
@media screen and (min-width: 300px) and (max-width:600px){
  .row{
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .column{
    text-align: center;
    width: 100%;
  }
  ul.topnav li.right,
	ul.topnav li {
	  float: none;
	}
  .subnavFooter ul{
	  bottom: 40%;
    width: 100%;
    position: absolute;
   }
  .subnav-content{
    width: 100%;
  }
  .responsiveHeading{
    text-align: center;
  }
  .logo{
    width: 40%;
  }
}
